# Copyright (c) 2023-2025 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_TRACKBALL_PIM447
	bool "PIM447 trackball module driver support"
	depends on ZMK_INPUT
	select I2C
	help
	  Enable support for the Pimoroni PIM447 trackball module driver

source "src/drivers/sensor/trackball_pim447/Kconfig"
source "src/behaviors/behavior_trackball_mode/Kconfig"